.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.gitlab-ci.yml
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.vsix
out/test/**
